# === Build & Gradle ===
.gradle/
build/
out/
classes/

# === Java ===
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# === IDEs ===

## IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

## Eclipse
*.launch
.classpath
.project
.settings/

## VS Code
.vscode/

## Visual Studio
.vs/
*.user

# === OS ===
*.DS_Store

# === Fabric / Minecraft ===
run/

# === General build output ===
bin/
**/bin/
**/obj/
