name: build

on:
  push:
    branches: ["**"]
    tags:
      - "v*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: write  # nodig om releases te maken

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
          cache: 'gradle'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build --stacktrace

      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: |
            **/build/libs/*.jar
            **/build/libs/*.zip

  release:
    # draait alleen als de push een tag is die begint met v (v1.0.0 etc.)
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: Artifacts
          path: release-assets

      - name: create github release + upload assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release-assets/**/*.jar
            !release-assets/**/*-sources.jar
            !release-assets/**/*-javadoc.jar
            release-assets/**/*.zip
          generate_release_notes: true

